
{# This config is common to all Junos device types. For it to be generated the 'common' role must be included in the platform specific play file. #}
system {
    host-name {{ inventory_hostname }};
{# the location is based on whether this is site 1 or site 2. Using the variables in this way you apply site specific values without having to use conditional checks. #}
    time-zone {{ global.time_zone }};
    root-authentication {
        encrypted-password "{{ global.root_hash }}";
    }

{% if vagrant is defined %}
    login {
        user vagrant {
            uid 2000;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key";
            }
        }
    }
{% endif %}
    name-server {
{% for name_server in global.name_servers %}
        {{ name_server }};
{% endfor %}
    }
    services {
        netconf {
            ssh;
        }
        ssh;
    }
    login {
        message "{{ global.login_message }} ";
    }
    syslog  {
        user * {
            any emergency;
        }
        file messages {
            any notice;
        }
        file cli-commands {
            interactive-commands any;
            explicit-priority;
        }
        time-format millisecond;
    }
    ntp {
{% for ntp_server in global.ntp_servers %}
        server {{ ntp_server }};
{% endfor %}
    }
}
interfaces {
{% if vqfx is defined %}
    {{ mgmt_port }} {
        unit 0 {
            family inet {
              dhcp;
            }
        }
    }
    em1 {
        unit 0 {
            family inet {
                address 169.254.0.2/24;
            }
        }
    }
{% else %}
    {{ mgmt_port }} {
        unit 0 {
            family inet {
              address {{ junos_host }}/{{ mgmt_sub_mask }};
            }
        }
    }
{% endif %}
    lo0 {
        unit 0 {
            family inet {
                address {{ loopback_ip }}/32
            }
        }
    }
}
{% if global.routes is defined %}
routing-options {
{% if global.routes.static is defined %}
  static {
{% for route, next_hop in global.routes.static.iteritems() %}
    route {{ route }} {
      next-hop {{ next_hop }};
      retain;
      no-readvertise;
    }
{% endfor %}
  }
{% endif %}
}
{% endif %}


protocols {
    lldp {
        interface all;
    }
}
